/* Add your styles here. */
@import "postList.scss";
@import "userList.scss";
@import "createPost.scss";
@import "nav.scss";
@import "createUser.scss";
@import "userDetail.scss";



$backgroundColor_grey: #252A38 !default;
$backgroundColor_black: #151820 !default;


.App {
    background-color: $backgroundColor_grey;
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 50px;

}