$backgroundColor_grey: #252A38 !default;
$backgroundColor_black: #151820 !default;

.navbar {
    display: flex;
    justify-content: center;
    background-color: $backgroundColor_black;
    color: white;
    font-family: Helvetica;
    font-weight: 300;
    display: flex;
    align-items: center;

    height: 60px;
}


.navbar_title {
    margin-right: auto;
    font-size: 1em;
    padding: 12px 16px;
}

.navbar_item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
    font-size: 0.75em;
    color: white;
}