$backgroundColor_grey: #252A38 !default;
$backgroundColor_black: #151820 !default;

.navbar {
    display: flex;
    justify-content: center;
    background-color: $backgroundColor_black;
    color: white;
    font-family: Helvetica;
    font-weight: 300;
    margin-left: 50px;
}


.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
}

.navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}