.page {
    height: 90%;
    width: 100%;
    padding-left: 3em;
    padding-right: 3em;
    margin-top: 1em;
}

.card {
    height: 250px;
    width: 100%;
    padding: 0;

}

.image_div {
    position: relative;
}

.card_image {
    width: 100%;
    height: 150px;
    // position: relative;
    z-index: -1;
}

.card_body {
    height: 50px;
    width: 100%;
    color: white;
    font-size: 0.75em;
}

.posts_box {
    height: 100%;
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;


}

.page_title {
    font-size: 20px;
    color: white;
    margin-bottom: 5px;
}

.links_section {
    height: 30px;

}

.link {
    margin-right: 10px;
    margin-left: 5px;
}

.card_button_section {
    position: absolute;
    top: 130px;

}

button {
    height: 2px;
    width: 30px;
    padding: 1em;
    margin: 0.2em;
    position: relative;



}

span {
    top: 120px;

}



// .img-postlist {
//     width: 275px;
//     height: 150px;
// }

// #button-change-color {
//     color: black;
// }

// .list-div {
//     height: 250px;
//     width: 275px;
//     padding: 0;

// }

// .list-div p {
//     height: 50px;
//     width: 275px;
//     overflow: scroll;
//     border: 1px solid grey;
//     color: white;
//     margin: 0;
// }

// .like-dislike-form {
//     height: 50px;
//     margin-top: 20px;
//     margin-bottom: 0;


// }

// #posts-h1 {
//     color: white;
//     margin-bottom: 0;
// }

// .div-next {
//     height: 50px;
//     margin-top: 0;

// }

// .div-next a {
//     color: white;
// }

// .menu-icon-bar {
//     background-color: white;
//     height: 3px;
//     width: 20px;
//     margin-bottom: 3px;
// }

// #menu-icon {
//     display: flex;
//     flex-direction: column;
//     float: right;
//     margin-right: 100px;
//     top: 50px;

// }

// #menu {
//     border: 1px solid black;
//     height: 150px;
//     width: 100px;
//     display: none;
//     flex-direction: column;
//     align-items: center;

//     margin-left: 150px;
// }

// #h3-menu {
//     color: white;
//     font-size: 20px;
// }

// #menu a {
//     color: white;
//     font-size: 15px;
//     margin-bottom: 5px;
// }

// #a-posts {
//     color: #2985FF;
//     font-size: 15px;
// }